---
import portrait from "./images/portrait.jpg";
---

<section id="about" class="py-10 md:py-16">
  <h2 class="text-3xl md:text-4xl font-title font-medium text-neutral-100 tracking-wide mb-8 md:mb-16 flex items-center gap-2 md:gap-4"><svg class="h-8 w-8 md:h-10 md:w-10 text-sky-300 hover:rotate-2 transition duration-300"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="5" r="1" />  <circle cx="12" cy="5" r="1" />  <circle cx="19" cy="5" r="1" />  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" />  <circle cx="5" cy="19" r="1" />  <circle cx="12" cy="19" r="1" />  <circle cx="19" cy="19" r="1" /></svg><span>à propos de moi</span></h2>
  <div class="flex flex-col-reverse lg:flex-row justify-center gap-8 lg:gap-32">
    <div id="about-media" class="flex flex-col justify-between bg-neutral-900">
        <div id="about-img" class="hidden lg:block w-52">
          <img class="shadow-[16px_16px_rgba(125,211,252)] hover:shadow-[12px_12px_rgba(125,211,252)] transition duration-300 ease-in-out" src={portrait.src} alt="Nicolas Milhem" />
        </div>
        <div id="about-social" class="text-sky-300 ml-4">
            <ul class="flex items-center lg:justify-center gap-8">
                <li>
                    <a aria-label="GitHub (s'ouvre dans un nouvel onglet)" class="text-sky-300 w-10 h-10 flex items-center justify-center rounded-full border-2 border-solid border-sky-300 hover:bg-sky-300 hover:text-neutral-900 transition-colors duration-300" href="https://github.com/nicomil59" target="_blank">
                      <svg class="h-5 w-5"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 19c-4.286 1.35-4.286-2.55-6-3m12 5v-3.5c0-1 .099-1.405-.5-2 2.791-.3 5.5-1.366 5.5-6.04a4.567 4.567 0 0 0 -1.333 -3.21 4.192 4.192 0 00-.08-3.227s-1.05-.3-3.476 1.267a12.334 12.334 0 0 0 -6.222 0C6.462 2.723 5.413 3.023 5.413 3.023a4.192 4.192 0 0 0 -.08 3.227A4.566 4.566 0 004 9.486c0 4.64 2.709 5.68 5.5 6.014-.591.589-.56 1.183-.5 2V21" /></svg>
                    </a>
                </li>
                
                <li>
                    <a aria-label="LinkedIn (s'ouvre dans un nouvel onglet)" class="text-sky-300 w-10 h-10 flex items-center justify-center rounded-full border-2 border-solid border-sky-300 hover:bg-sky-300 hover:text-neutral-900 transition-colors duration-300" href="https://www.linkedin.com/in/nicolasmilhem/" target="_blank">
                      <svg class="h-5 w-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Twitter (s'ouvre dans un nouvel onglet)" class="text-sky-300 w-10 h-10 flex items-center justify-center rounded-full border-2 border-solid border-sky-300 hover:bg-sky-300 hover:text-neutral-900 transition-colors duration-300" href="https://x.com/nicomildev" target="_blank">
                      <svg class="h-5 w-5"  width="24" height="24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div
      id="about-text"
      class="lg:max-w-xl font-text md:text-lg md:leading-relaxed text-neutral-400"
    >
      <p class="mb-8">
        Depuis mes premiers pas sur Internet à l'époque du 56K, ma passion pour
        le web n'a cessé de croître. Je me souviens avec nostalgie de mes
        premières créations de pages web à l'aide de l'outil WYSIWYG de feu
        Netscape. Après plusieurs années à rédiger du contenu pour divers sites,
        j'ai décidé de me reconvertir et de passer de l'autre côté du miroir, en
        devenant <span class="text-sky-300">développeur web front-end</span>.
      </p>
      <p class="mb-8">
        De par mes études scientifiques, j'ai toujours aimé résoudre des
        problèmes complexes. Récemment, j'ai suivi une formation de développeur
        web (*), et je me suis spécialisé dans le développement front-end avec <span
          class="text-sky-300">React</span
        >. J'adore transformer des concepts en interfaces utilisateur élégantes
        et fonctionnelles. Passionné par les nouvelles technologies, j'aime
        rester à jour avec les dernières innovations et je suis toujours curieux
        d'apprendre de nouvelles choses.
      </p>
      <p class="text-base italic">
        (*) Formation de développeur web chez OpenClassrooms
      </p>
    </div>
  </div>
</section>