---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Nicolas Milhem - Développeur web"
---

<Layout pageTitle={pageTitle}>
	<main class="max-w-4xl m-auto p-4 text-white border border-red-500">
		<h1 class="text-5xl font-title font-medium text-center my-2">Nicolas Milhem <span class="text-gradient text-sky-300">Développeur front-end</span></h1>
		<p class="font-text text-neutral-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, deserunt!</p>
	</main>
</Layout>