---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import About from '../components/about/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/projects/Projects.astro';
import Contact from '../components/Contact.astro';

import { fade } from 'astro:transitions';

const pageTitle = "Nicolas Milhem - Développeur web"
const pageDescription = "Portfolio de Nicolas Milhem, développeur front-end dans le Nord";
const pageTitleOG = "Portfolio de Nicolas Milhem, développeur web";
const OGType = "website";
---

<Layout pageTitle={pageTitle} pageDescription={pageDescription} pageTitleOG={pageTitleOG} OGType={OGType}>
	<main class="max-w-6xl m-auto px-4 text-white" transition:animate={fade({ duration: '0.5s' })}>
		<Hero />
		<About />
		<Skills />
		<Projects />
		<Contact />
	</main>
</Layout>

<style is:global>
	section {
		scroll-margin-top: 3rem;
	}
</style>