---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Portfolio">
	<main class="max-w-4xl m-auto p-4 text-xl text-white border border-red-500">
		<h1 class="text-6xl font-bold text-center mb-[1em]">The <span class="text-gradient">Portfolio</span></h1>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
