---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import About from '../components/about/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/projects/Projects.astro';
import Contact from '../components/Contact.astro';

const pageTitle = "Nicolas Milhem - Développeur web"
---

<Layout pageTitle={pageTitle}>
	<main class="max-w-6xl m-auto px-4 text-white">
		<Hero />
		<About />
		<Skills />
		<Projects />
		<Contact />
	</main>
</Layout>

<style is:global>
	section {
		scroll-margin-top: 6.5rem;
	}
</style>