---
import About from '../components/about/About.astro';
import Hero from '../components/hero/Hero.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Nicolas Milhem - Développeur web"
---

<Layout pageTitle={pageTitle}>
	<main class="max-w-6xl m-auto px-4 text-white">
		<Hero />
		<About />
		<section id="skills" class="my-4 border border-lime-300">SKILLS</section>
		<section id="projects" class="my-4 border border-blue-600">PROJETS</section>
		<section id="contact" class="my-4 border border-lime-100">CONTACT</section>
	</main>
</Layout>

<style is:global>
	section {
		scroll-margin-top: 6.5rem;
	}
</style>