---
---
<footer class="max-w-full font-text border-t border-sky-300 bg-neutral-800">
    <div class="max-w-6xl px-4 pt-16 pb-8 m-auto">
        <div id="footer-top" class="flex flex-col md:flex-row justify-between md:items-center">
            <nav id="footer-nav">
                <ul class="flex flex-col md:flex-row md:items-center gap-4 text-neutral-400 tracking-wide">
                    <li>
                        <a href="/" class="hover:text-neutral-200 transition-colors duration-300">accueil</a>
                    </li>
                    <li>
                        <a href="/#about" class="hover:text-neutral-200 transition-colors duration-300">à propos</a>
                    </li>
                    <li>
                        <a href="/#skills" class="hover:text-neutral-200 transition-colors duration-300">skills</a>
                    </li>
                    <li>
                        <a href="/#projects" class="hover:text-neutral-200 transition-colors duration-300">projets</a>
                    </li>
                    <li>
                        <a href="/#contact" class="hover:text-neutral-200 transition-colors duration-300">contact</a>
                    </li>
                </ul>
            </nav>
            <div id="footer-social" class="mt-8 md:mt-0">
                <ul class="flex items-center lg:justify-center gap-8">
                    <li>
                        <a aria-label="GitHub (s'ouvre dans un nouvel onglet)" class="text-sky-300 hover:text-sky-400 transition-colors duration-300" href="https://github.com/nicomil59" target="_blank">
                          <svg class="h-5 w-5"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 19c-4.286 1.35-4.286-2.55-6-3m12 5v-3.5c0-1 .099-1.405-.5-2 2.791-.3 5.5-1.366 5.5-6.04a4.567 4.567 0 0 0 -1.333 -3.21 4.192 4.192 0 00-.08-3.227s-1.05-.3-3.476 1.267a12.334 12.334 0 0 0 -6.222 0C6.462 2.723 5.413 3.023 5.413 3.023a4.192 4.192 0 0 0 -.08 3.227A4.566 4.566 0 004 9.486c0 4.64 2.709 5.68 5.5 6.014-.591.589-.56 1.183-.5 2V21" /></svg>
                        </a>
                    </li>
                    <li>
                        <a aria-label="LinkedIn (s'ouvre dans un nouvel onglet)" class="text-sky-300 hover:text-sky-400 transition-colors duration-300" href="https://www.linkedin.com/in/nicolasmilhem/" target="_blank">
                          <svg class="h-5 w-5"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Twitter (s'ouvre dans un nouvel onglet)" class="text-sky-300 hover:text-sky-400 transition-colors duration-300" href="https://x.com/nicomildev" target="_blank">
                          <svg class="h-5 w-5"  width="24" height="24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer-bottom" class="mt-8">
            <p class="text-center text-sm tracking-wide text-neutral-100">© 2024 nicomil</p>
        </div>
    </div>
</footer>