---
---
<header class="max-w-6xl px-4 py-8 m-auto font-text text-neutral-200 flex justify-between items-center">
    <a href="/" class="tracking-wide flex items-center group font-bold">nicomil.<span class="text-sky-300 group-hover:text-sky-400 ease-in-out duration-300">dev</span></a>
    <nav>
        <ul class="flex justify-between items-center gap-8 text-neutral-400 tracking-wide">
            <li>
                <a href="#apropos" class="hover:text-neutral-200 transition-colors duration-300">à propos</a>
            </li>
            <li>
                <a href="#skills" class="hover:text-neutral-200 transition-colors duration-300">skills</a>
            </li>
            <li>
                <a href="#projets" class="hover:text-neutral-200 transition-colors duration-300">projets</a>
            </li>
            <li>
                <a href="#contact" class="hover:text-neutral-200 transition-colors duration-300">contact</a>
            </li>
        </ul>
    </nav>
</header>